<launch>

    <arg name="config"          default="drone_rgb_stereo_400p_epson" />
    <arg name="rosbag"          default="/home/tlha/Work/VIO/bags/mins_hiro_2026-06-15-16-22-07_cleaned.bag" />
    <arg name="bag_start_time"  default="0" />
    <arg name="realtime"  default="true" />
    <!-- MASTER NODE -->
    <node name="mins_subscribe" pkg="mins" type="subscribe" output="screen" clear_params="true" required="true">
        <param name="config_path"       type="str"  value="$(find mins)/config/$(arg config)/config.yaml" />
        <remap from="/mins/lidar0/points" to="/cloud_registered_body" />
    </node>

    <!-- ROS BAG -->
     <node pkg="rosbag" type="play" name="rosbag" output="screen"
          args="--clock -s $(arg bag_start_time) $(arg rosbag)"
          unless="$(arg realtime)" />

    <node pkg="tf2_ros" type="static_transform_publisher" unless="$(arg realtime)" name="map_to_global"
      args="0 0 0 0 0 0 map global" />
    
     <!-- <node pkg="tf2_ros" type="static_transform_publisher" unless="$(arg realtime)" name="livox_to_map0"
      args="0 0 0 0 0 0 livox_frame map0" /> -->

      
</launch>
